/** code by webdevtrick ( https://webdevtrick.com ) **/

  div.main {
    align-items: center;
    justify-content: center;
  }
  div.container {
    background-color: rgb(250, 241, 223);
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  }
   
  div.text-container {
    margin: 60px 45px 55px;
    font-size: 1em;
  }
  @media screen and (min-width: 768px) {
    div.container {
      flex-direction: row;
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) {
    div.container {
      max-width: 1200px;
    }
  }