.flex-container {
	margin-left: 1em;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

p {
	color: #E6FA79;
	font-size: 1.5em;
}

.logo {
	border-radius: 2em;
	border: 0.2em solid black;
	width: 20em;
}

#homophobie {
	border-radius: 2em;
	margin: 0.25em;
	border: 0.2em solid black;
	width: 20em;
	background-color: purple;
}

#sms {
	border-radius: 2em;
	background-color: white;
	margin: 0.25em;
	border: 0.2em solid black;
	text-align: center
}
